<!DOCTYPE html>
<html lang="en">
    <link rel="icon" href="/static/img/ico.png" type="image/png" sizes="16x16">
    <head>
        <style>td a{text-decoration: none;}</style>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>CDvist</title>

        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="static/css/freelancer.css" rel="stylesheet" />

        <!-- Custom Fonts -->
        <link type="text/css" href="static/css/atooltip.css" rel="stylesheet"  media="screen" />
        <link rel="stylesheet" href="static/css/jquery-ui.css">
        <link href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/static/css/rangeslider.css" rel="stylesheet" type="text/css">
        <!-- <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
        <!-- <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

        <!-- jQuery Version 1.11.0 -->
        <script src="static/js/jquery-1.11.0.js"></script>
        <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script src="static/js/rangeslider.min.js"></script>
        

    </head>

    <style>
    a.reference {
        color:#808e9c
    }
    a:hover.reference {
        color:#418cd6
    }
    </style>

    <body id="page-top" class="index">

        <nav class="navbar navbar-default navbar-fixed-top" style="padding-top:0; height:14px;"></nav>

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" style="top:0px">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#page-top" style="text-transform: none">CDvist 1.5 (alpha)</a>  -->
                   <img style="width:200px;margin:5px" src="/static/img/logo-white-02.png"></img>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="text-transform: none">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#portfolio">Query</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">About</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#download">Download</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#credits">Credits</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section id="news" style="margin-bottom:0;padding-bottom:0;padding:38px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                    </div>
                </div>
            </div>
        </section>
        <section style="padding: 5px; background: #ffffff">
                <div class="container col text-right">
                        <a class="reference" href="http://dx.doi.org/10.1093/bioinformatics/btu836" target="_blank">
                            <p >
                                Adebali O., Ortega D.R., Zhulin I.B. (2015) <i>Bioinformatics 31</i> (9), 1475-1477	 
                            </p>
                        </a>
                    </h4>
                </div>
            </section>
        <!-- Job Submission -->
        <section id="portfolio" style="margin-bottom:50px;">
            <div class="container">
                <div class="row text-center">
                    <!-- <div class="col-lg-12 text-center">
                        {% if id %}
                            <h1>Hello {{ id }}!</h1>
                        {% else %}
                            <h1>Hello, World!</h1>
                        {% endif %}
                    </div> -->
                    
                    <img class="wrap" src="/static/img/logo.png" style="width:60%"></img>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <form name="blast" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12">
                                    <textarea class="form-control" name="text" placeholder="Enter your input or upload your protein sequences in FASTA format!" cols="100" rows="10">
>ZP_10701910.1 transcriptional regulator containing an amidase domain and an AraC-type DNA-binding HTH domain [Pseudomonas sp. GM18]
MKNQSISHFRDIHVHAATVQEWSQDYSQLTAGSTESSLMQLTTARCHVFREQINQRVVQHGVAPRGKMCFAVPITVPGSIRMQGREVDDSSLFFLHGGEEFMFHMPTGMELLSITFERELFEQALAQTASAKEVSLLLRQPVIRVSTPRFAEARRRLLAMFSRALVNEELDSARELELEQAMLGELLQLMTDPACDKHQRTPSSTRSFIVEKCHRLATAEMMNVPSVDELCQRLHVSRRTVQNSFRSVAETTPLNYLRSVRLNGVRRTLMSTRASHLSIGDAAAQWGFYHLSHFAAEYQELFAELPSHTARAAITDCARA
>ZP_06814791.1 hypothetical protein SMAG_00123 [Staphylococcus aureus A8819]
MTDNYSLHIYKSMKMSSVKEANLKIIYWLQGTGVVSINLQQYDVKRNDVTVIMLNDLYQIDGHDDSVCCVVEVSAKTFLKFMNANYMMRGKILTNEVASTFRILIKYLIYSKIKQQSYNANDKIINYMCVELMSLNTYDGSRHLVAEEVHDYLTNNHHKKINRKDVINQVSITNKALSDMFKATPYSNFIQYLNHIRLEHCLIDILTSKKPIEEIASSHGFNHYSRFIHLFKETYGNTPKLIRKRYSPTSHSINHSQLVEIDKNIIELFDNTNQSSSSMREIDIPFEPTKRSQMYQPKNIYIKGSNFYWMDYYTIKQIIQRLGVNLENLHIIVTIDTSNELSIEQITLLLQKIVNYNVNVVFRIKHEYKELLTSTERGKIEKLVATIFNMTFESNRCKIAFLINDLNTTAIQKLKRLIDNYIGVFELIYHLEPKELNTHYDKEIDHLIDYFILPLRQIEQVSIACSKIICDVDLINENNDLKEKITMSDFNKVTELLTNYTKFRGLIMHMSIISEASKEINLTRLSIFIFIINILNQLRGIVIYQNDTMIVTKFKHEVQCVICLPAALLNENSDAIRLSCKGLQQFSHAKTKQIVLSIDKDNHTSENGVLVNDIMQQHSYWKANFIERNIYDHSLMVSSNSIVHLKYHLEI
>NP_683766.2 G-protein coupled receptor family C group 6 member A isoform 1 precursor [Homo sapiens]
MAFLIILITCFVIILATSQPCQTPDDFVAATSPGHIIIGGLFAIHEKMLSSEDSPRRPQIQECVGFEISVFLQTLAMIHSIEMINNSTLLPGVKLGYEIYDTCTEVTVAMAATLRFLSKFNCSRETVEFKCDYSSYMPRVKAVIGSGYSEITMAVSRMLNLQLMPQVGYESTAEILSDKIRFPSFLRTVPSDFHQIKAMAHLIQKSGWNWIGIITTDDDYGRLALNTFIIQAEANNVCIAFKEVLPAFLSDNTIEVRINRTLKKIILEAQVNVIVVFLRQFHVFDLFNKAIEMNINKMWIASDNWSTATKITTIPNVKKIGKVVGFAFRRGNISSFHSFLQNLHLLPSDSHKLLHEYAMHLSACAYVKDTDLSQCIFNHSQRTLAYKANKAIERNFVMRNDFLWDYAEPGLIHSIQLAVFALGYAIRDLCQARDCQNPNAFQPWELLGVLKNVTFTDGWNSFHFDAHGDLNTGYDVVLWKEINGHMTVTKMAEYDLQNDVFIIPDQETKNEFRNLKQIQSKCSKECSPGQMKKTTRSQHICCYECQNCPENHYTNQTDMPHCLLCNNKTHWAPVRSTMCFEKEVEYLNWNDSLAILLLILSLLGIIFVLVVGIIFTRNLNTPVVKSSGGLRVCYVILLCHFLNFASTSFFIGEPQDFTCKTRQTMFGVSFTLCISCILTKSLKILLAFSFDPKLQKFLKCLYRPILIIFTCTGIQVVICTLWLIFAAPTVEVNVSLPRVIILECEEGSILAFGTMLGYIAILAFICFIFAFKGKYENYNEAKFITFGMLIYFIAWITFIPIYATTFGKYVPAVEIIVILISNYGILYCTFIPKCYVIICKQEINTKSAFLKMIYSYSSHSVSSIALSPASLDSMSGNVTMTNPSSSGKSATWQKSKDLQAQAFAHICRENATSVSKTLPRKRMSSI

                                    </textarea>
                                </div>
                            </div>
                            <div class="row submit-div">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-5">
                                    <!-- <input class="form-control" id="fileupload" name="file" type="file" value="Reset" style="background:none;"> -->
                                    <!-- <label class="btn btn-default btn-file">
                                            Upload a file <input id="fileupload" value="Reset" name="file" type="file" style="display: none;">
                                    </label> -->
                                    <div class="input-group">
                                            <label class="input-group-btn">
                                                <span class="btn btn-primary">
                                                    Upload a file&hellip; <input type="file" name="file" style="display: none;">
                                                </span>
                                            </label>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                </div>
                                <div class="col-lg-5">
                                    <!-- <button class="btn btn-primary" id="Submit" name="Submit" value="Submit Job!">Submit Job!</button> -->
                                    <button
                                    class="btn btn-primary g-recaptcha"
                                    data-sitekey="6LcxuTUUAAAAAGzkLtijywyN64xAZj-I1rqgZcpc"
                                    data-callback="YourOnSubmitFn">
                                    Submit Job!
                                    </button>
                                </div>

                                <div class="col-lg-1"></div> 
                            </div>

                            <div class="row  panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collpasedParameters">
                                            Pipeline Parameters
                                        </a>
                                    </h4>
                                </div>
                                <div id="collpasedParameters" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <hr>
                                        <div class="row">
                                            <div class="col col-lg-2 shiftdown">
                                                <label class="tool">TMHMM</label>    
                                            </div>
                                            <div class="col col-lg-1 shiftdown">
                                                <input
                                                name='tmhmm'
                                                class='switch_checkbox' 
                                                type="checkbox" 
                                                id="tmhmm_switch" 
                                                checked="checked"/>
                                                <label for="tmhmm_switch" class="switchlabel"></label>
                                            </div>
                                                    
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col col-lg-2 shiftdown">
                                                <label class="tool">HMMER3</label>    
                                            </div>
                                            <div class="col col-lg-1 shiftdown">
                                                <input
                                                name='hmmer3'
                                                class='switch_checkbox' 
                                                type="checkbox" 
                                                id="hmmer3_switch" 
                                                checked="checked"/>
                                                <label for="hmmer3_switch" class="switchlabel"></label>
                                            </div>
        
                                            <div class="col col-lg-6">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="hmmer3_db" class="col-sm-12 control-label">Database</label>
                                                        <select class="form-control" name="hmmer3_db">
                                                                <option value="30.0">Pfam 30.0</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                                    
                                        </div>
                                        
                                        <div id="rps_section"></div>
                                        <div id="hhsearch_section"></div>
                                        <hr>
                                    </div>
                                </div>
                            </div>                                    
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="container col text-center givecredit">
                <p style="font-size: 22px">
                    CDvist has ben refactored. We will continue to improve the webserver. Please let us know any problems and requests at our BitBucket page or via <a href="mailto:oadebali@sabanciuniv.edu">direct contact</a>.
                </p>
            </div>
        </section>

        <!-- <section>
            <div class="container">
                <div class="row"> -->
                    <!-- <div class="col-lg-3"></div> -->
                    <!-- <div class="col-lg-12">

                        <a class="twitter-timeline" data-partner="tweetdeck" href="https://twitter.com/compGenomics/timelines/922902928909848578?ref_src=twsrc%5Etfw">CDvist - Curated tweets by compGenomics</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div> -->
                    <!-- <div class="col-lg-3"></div> -->
<!--                     
                </div>
                
            </div>
        </section> -->

        <!-- About Section -->
        <section class="success" id="about">
            <div class="container">
                <div class="row middle">
                    <div style="color:#2c3e50" class="col-lg-12 text-center">
                    <h2>ABOUT</h2>
                    <hr class="star-primary2">
                    </div>
                </div>
                <div style="color:#2c3e50" class="row middle">
                    <div class="col-lg-3 col-lg-offset-2">
                        <h1>What</h1>
                        <p>CDvist is a sequence-based protein domain search tool. It combines several popular algorithms to provide the best possible domain coverage for multi-domain proteins delivering speed-up, accuracy, and batch querying with novel visualization features.</p>
                    </div>
                    <div class="col-lg-3">
                    <h1>Why</h1>
                        <p>In the world of bioinformatics, combination of several tools often provides a better outcome than any of the tools alone.</p>
                    </div>
                    <div class="col-lg-3">
                    <h1>How</h1>
                        <p>The algorithm operates on subsequences rather than the entire sequence to cover domain information as completely as possible. It starts the search with the most specific tool and then fills the remaining gaps using more sensitive tools.</p>
                    </div>
                </div>
                <hr class="star-primary2">
            </div>
        </section>


        <section id="download">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Download</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row middle">
                    <div class="col text-center givecredit">
                        Download dockerized CDvist package from <a href="https://bitbucket.org/adebali/cdvist">BitBucket!</a>

                    </div>
                </div>
                <hr class="star-primary">
            </div>
        </section>
        
        <section id="credits">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 text-center"></div>
                                
                    <div class="col-lg-6 text-center">
                        <h2>Credits</h2>
                        <hr class="star-primary">
                        <p class=givecredit>
                            <a class="givecredit" href="http://hmmer.janelia.org">HMMER</a> | 
                            <a class="givecredit" href="ftp://toolkit.genzentrum.lmu.de/pub/HH-suite">HHsuite</a> | 
                            <a class="givecredit" href="http://www.ncbi.nlm.nih.gov/Structure/cdd/wrpsb.cgi">CDsearch</a> | 
                            <a class="givecredit" href="http://pfam.xfam.org">Pfam</a> | 
                            <a class="givecredit" href="http://www.rcsb.org">PDB</a> | 
                            <a class="givecredit" href="http://www.ncbi.nlm.nih.gov/COG">COG</a> | 
                            <a class="givecredit" href="http://scop.mrc-lmb.cam.ac.uk/scop">SCOP</a> | 
                            <a class="givecredit" href="http://smart.embl-heidelberg.de">SMART</a> | 
                            <a class="givecredit" href="http://plantta.tigr.org">TIGR</a> | 
                            <a class="givecredit" href="http://pir.georgetown.edu/pirwww/dbinfo/pirsf.shtml">PIRSF</a> | 
                            <a class="givecredit" href="http://www.cbs.dtu.dk/services/TMHMM">TMHMM</a> | 
                            <a class="givecredit" href="http://phobius.sbc.su.se">PHOBIUS</a> | 
                            <a class="givecredit" href="http://mendel.imp.ac.at/METHODS/seg.server.html">SEG</a> | 
                            <a class="givecredit" href="http://www.ch.embnet.org/software/COILS_form.html">COILS</a>
                        </p>
                        <hr class="star-primary">
                    </div>
                    <div class="col-lg-3 text-center"></div>
                    
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contact Us</h2>
                        <hr class="star-primary">
                            <h3><a href="mailto:oadebali@sabanciuniv.edu">oadebali@sabanciuniv.edu</a></h3>
                        <hr class="star-primary">
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <!-- <div class="footer-col col-md-1 bottom"> </div> -->
                        <div class="footer-col col-md-4 bottom">
                            <img src="/static/img/NIH.png"  style="-webkit-filter: grayscale(100%); filter: grayscale(100%) brightness(2.5); margin-top:5%" width="40%" height="100%"></img>
                        </div>
                        <!-- <div class="footer-col col-md-4">
                            <ul class="list-inline">
                                <li>
                                    <a href="http://twitter.com/zhulinlab" class="btn-social btn-outline"><i class="fa fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- <div class="footer-col col-md-2 bottom">
                            <img src="/static/img/UTK.png" style="-webkit-filter: invert(100%); filter: invert(100%) brightness(2.5);" class="invert" width="50%" height="auto"></img>
                        </div> -->
                        <div class="footer-col col-md-4 bottom">
                            <img src="/static/img/OSU.png"  style="-webkit-filter: grayscale(100%); filter: grayscale(100%) brightness(2.5);" width="60%" height="100%"></img>
                        </div>
                        <div class="footer-col col-md-4 bottom">
                            <img src="/static/img/sabanci.png" style="-webkit-filter: grayscale(100%); filter: grayscale(100%) brightness(2.5); margin-top:10%" class="invert" width="80%" height="auto"></img>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div style="z-index:1" class="col-lg-12">
                            Copyright &copy; <a href="mailto:adebali@sabanciuniv.edu" style="font-size:1em;">Ogun Adebali</a> 2018
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll visible-xs visble-sm">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

    


        <!-- Bootstrap Core JavaScript -->
        <script src="static/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="static/js/classie.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="static/js/freelancer.js"></script>
        <script>
            $("#cite").hide();
            $("#cite").slideDown(50000);
            var example1 = ">accession:NP_415222.1|locus:b0694|genome:Escherichia coli str. K-12 substr. MG1655\nMTNVLIVEDEQAIRRFLRTALEGDGMRVFEAETLQRGLLEAATRKPDLIILDLGLPDGDG\nIEFIRDLRQWSAVPVIVLSARSEESDKIAALDAGADDYLSKPFGIGELQARLRVALRRHS\nATTAPDPLVKFSDVTVDLAARVIHRGEEEVHLTPIEFRLLAVLLNNAGKVLTQRQLLNQV\nWGPNAVEHSHYLRIYMGHLRQKLEQDPARPRHFITETGIGYRFML";
            var five_sequences = ">sp|P16473|TSHR_HUMAN Thyrotropin receptor OS-Homo sapiens GN-TSHR PE-1 SV-2\nMRPADLLQLVLLLDLPRDLGGMGCSSPPCECHQEEDFRVTCKDIQRIPSLPPSTQTLKLIETHLRTIPSHAFSNLPNISRIYVSIDVTLQQLESHSFYNLSKVTHIEIRNTRNLTYIDPDALKELPLLKFLGIFNTGLKMFPDLTKVYSTDIFFILEITDNPYMTSIPVNAFQGLCNETLTLKLYNNGFTSVQGYAFNGTKLDAVYLNKNKYLTVIDKDAFGGVYSGPSLLDVSQTSVTALPSKGLEHLKELIARNTWTLKKLPLSLSFLHLTRADLSYPSHCCAFKNQKKIRGILESLMCNESSMQSLRQRKSVNALNSPLHQEYEENLGDSIVGYKEKSKFQDTHNNAHYYVFFEEQEDEIIGFGQELKNPQEETLQAFDSHYDYTICGDSEDMVCTPKSDEFNPCEDIMGYKFLRIVVWFVSLLALLGNVFVLLILLTSHYKLNVPRFLMCNLAFADFCMGMYLLLIASVDLYTHSEYYNHAIDWQTGPGCNTAGFFTVFASELSVYTLTVITLERWYAITFAMRLDRKIRLRHACAIMVGGWVCCFLLALLPLVGISSYAKVSICLPMDTETPLALAYIVFVLTLNIVAFVIVCCCYVKIYITVRNPQYNPGDKDTKIAKRMAVLIFTDFICMAPISFYALSAILNKPLITVSNSKILLVLFYPLNSCANPFLYAIFTKAFQRDVFILLSKFGICKRQAQAYRGQRVPPKNSTDIQVQKVTHDMRQGLHNMEDVYELIENSHLTPKKQGQISEEYMQTVL\n>accession:YP_001214911.1|locus:VC0395_0070|genome:Vibrio cholerae O395\nMRQLLSGLSIKLQVVVPVFFTLLLLIIGITFSTSSLKTAFHQVTVSTEQLITDKDNLTTLIDNTYAMRISAIYSLFRPAEVTALPNVLKEKQTENLALLRSLADNPELKNEVAGLTQAMQRYVDYSIQTMIPLLNIEHSDQEKDERFTAQYEQATAEYRKVGNEMIKAIDVLSNRLNQVAMTTIDESEHEHDSVMSQSTFALIGILLVAALSSWLLAGIIVTPIRQLQQTVREIAKGNLLVKAQEEGNNEITLLARDVNATVTQLRQTVESLVRISTDVASASTELATVMTQASVNSDQEKQEVEQVASAVNQLQSTAQSVTDHAHSADGAAQQANQLASQSLRMFEESHRATAKMADQLREAAQVVNQLKEQSERIGNVTEVIRSISEQTNLLALNAAIEAARAGESGRGFAVVADEVRMLAARTQTSTQEIQAIIEELQNQSNTANSSMHSSLSLLEQNQSLAAKVSASLTEINHSISALGQINAQVATASEEQSQVTKDINRNLSNIYELVSQNVTGITQSAAASHELSDLAEQQHQQLQYFRV\n>accession:NP_415222.1|locus:b0694|genome:Escherichia coli str. K-12 substr. MG1655\nMTNVLIVEDEQAIRRFLRTALEGDGMRVFEAETLQRGLLEAATRKPDLIILDLGLPDGDGIEFIRDLRQWSAVPVIVLSARSEESDKIAALDAGADDYLSKPFGIGELQARLRVALRRHSATTAPDPLVKFSDVTVDLAARVIHRGEEEVHLTPIEFRLLAVLLNNAGKVLTQRQLLNQVWGPNAVEHSHYLRIYMGHLRQKLEQDPARPRHFITETGIGYRFML\n>b0695 [Escherichia coli str. K-12 substr. MG1655]\nMNNEPLRPDPDRLLEQTAAPHRGKLKVFFGACAGVGKTWAMLAEAQRLRAQGLDIVVGVVETHGRKDTAAMLEGLAVLPLKRQAYRGRHISEFDLDAALARRPALILMDELAHSNAPGSRHPKRWQDIEELLEAGIDVFTTVNVQHLESLNDVVSGVTGIQVRETVPDPFFDAADDVVLVDLPPDDLRQRLKEGKVYIAGQAERAIEHFFRKGNLIALRELALRRTADRVDEQMRAWRGHPGEEKVWHTRDAILLCIGHNTGSEKLVRAAARLASRLGSVWHAVYVETPALHRLPEKKRRAILSALRLAQELGAETATLSDPAEEKAVVRYAREHNLGKIILGRPASRRWWRRETFADRLARIAPDLDQVLVALDEPPARTINNAPDNRSFKDKWRVQIQGCVVAAALCAVITLIAMQWLMAFDAANLVMLYLLGVVVVALFYGRWPSVVATVINVVSFDLFFIAPRGTLAVSDVQYLLTFAVMLTVGLVIGNLTAGVRYQARVARYREQRTRHLYEMSKALAVGRSPQDIAATSEQFIASTFHARSQVLLPDDNGKLQPLTHPQGMTPWDDAIAQWSFDKGLPAGAGTDTLPGVPYQILPLKSGEKTYGLVVVEPGNLRQLMIPEQQRLLETFTLLVANALERLTLTASEEQARMASEREQIRNALLAALSHDLRTPLTVLFGQAEILTLDLASEGSPHARQASEIRQHVLNTTRLVNNLLDMARIQSGGFNLKKEWLTLEEVVGSALQMLEPGLSSPINLSLPEPLTLIHVDGPLFERVLINLLENAVKYAGAQAEIGIDAHVEGENLQLDVWDNGPGLPPGQEQTIFDKFARGNKESAVPGVGLGLAICRAIVDVHGGTITAFNRPEGGACFRVTLPQQTAPELEEFHEDM\n>NP_415225.1 Transmembrane protein\nMSRKQLALFEPTLVVQALKEAVKKLNPQAQWRNPVMFIVWIGSLLTTCISIAMASGAMPGNALFSAAISGWLWITVLFANFAEALAEGRSKAQANSLKGVKKTAFARKLREPKYGAAADKVPADQLRKGDIVLVEAGDIIPCDGEVIEGGASVDESAITGESAPVIRESGGDFASVTGGTRILSDWLVIECSVNPGETFLDRMIAMVEGAQRRKTPNEIALTILLIALTIVFLLATATLWPFSAWGGNAVSVTVLVALLVCLIPTTIGGLLSAIGVAGMSRMLGANVIATSGRAVEAAGDVDVLLLDKTGTITLGNRQASEFIPAQGVDEKTLADAAQLASLADETPEGRSIVILAKQRFNLRERDVQSLHATFVPFTAQSRMSGINIDNRMIRKGSVDAIRRHVEANGGHFPTDVDQKVDQVARQGATPLVVVEGSRVLGVIALKDIVKGGIKERFAQLRKMGIKTVMITGDNRLTAAAIAAEAGVDDFLAEATPEAKLALIRQYQAEGRLVAMTGDGTNDAPALAQADVAVAMNSGTQAAKEAGNMVDLDSNPTKLIEVVHIGKQMLMTRGSLTTFSIANDVAKYFAIIPAAFAATYPQLNALNIMCLHSPDSAILSAVIFNALIIVFLIPLALKGVSYKPLTASAMLRRNLWIYGLGGLLVPFIGIKVIDLLLTVCGLV\n>locus:b0698 potassium translocating ATPase, subunit A [E. coli]\nMAAQGFLLIATFLLVLMVLARPLGSGLARLINDIPLPGTTGVERVLFRALGVSDREMNWKQYLCAILGLNMLGLAVLFFMLLGQHYLPLNPQQLPGLSWDLALNTAVSFVTNTNWQSYSGETTLSYFSQMAGLTVQNFLSAASGIAVIFALIRAFTRQSMSTLGNAWVDLLRITLWVLVPVALLIALFFIQQGALQNFLPYQAVNTVEGAQQLLPMGPVASQEAIKMLGTNGGGFFNANSSHPFENPTALTNFVQMLAIFLIPTALCFAFGEVMGDRRQGRMLLWAMSVIFVICVGVVMWAEVQGNPHLLALGTDSSINMEGKESRFGVLVSSLFAVVTTAASCGAVIAMHDSFTALGGMVPMWLMQIGEVVFGGVGSGLYGMMLFVLLAVFIAGLMIGRTPEYLGKKIDVREMKLTALAILVTPTLVLMGAALAMMTDAGRSAMLNPGPHGFSEVLYAVSSAANNNGSAFAGLSANSPFWNCLLAFCMFVGRFGVIIPVMAIAGSLVSKKSQAASSGTLPTHGPLFVGLLIGTVLLVGALTFIPALALGPVAEYLS"
            
            //d3.select("#SEQUENCE").text(example1);
            function load(){
            d3.select("#SEQUENCE").text(five_sequences);
            }
            function cleartext(){
            console.log("cc");
            d3.select("#SEQUENCE").text("");
            }
            </script>
            <script type="text/javascript" src="static/js/atooltip.min.js"></script>
            <script src="static/js/documents.js"></script>
            <script> tooltips();</script>
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-55081308-1', 'auto');
            ga('send', 'pageview');
        </script>	

        <script>
        $(function() {

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready( function() {
            $(':file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }

            });
        });
        
        });

        $('input[type="range"]').rangeslider();

        function outputUpdate(id, cutoff, word1='', word2='') {
            document.querySelector('#' + id).value = word1 + cutoff + word2;
        }

        function rpsDiv(i) {

            keyword = "rps"
            function plusSign (i) {
                let next = i + 1
                if (i<5) {
                    // $("${keyword}_plus_" + i).hide()
                    return `<a class="btn btn-info plusminus" id=${keyword}_plus_${i} onclick="$( '#${keyword}_section' ).append(${keyword}Div(${next})); $('#${keyword}_plus_${i}').hide(); $('#${keyword}_minus_${i}').hide()">
                    <span class="glyphicon glyphicon-plus"></span> 
                        
                        </a>`
                }
                return `<a></a>`
            }

            function minusSign (i) {
                let previous = i - 1
                if (i>1) {
                    // $("${keyword}_plus_" + i).hide()
                    return `<a class="btn btn-info plusminus" id=${keyword}_minus_${i} onclick="$('#${keyword}${i}_div').remove(); $('#${keyword}_plus_${previous}').show(); $('#${keyword}_minus_${previous}').show()">
                    <span class="glyphicon glyphicon-minus"></span> 
                        
                        </a>`
                }
                return `<a></a>`
            }

            let element = `
            <div id="${keyword}${i}_div" class="form-group row">
                <hr>
                <div>
                    <div class="col col-lg-2 shiftdown">
                        <label class="tool">RPSBLAST</label>    
                    </div>

                    <div class="col col-lg-1 shiftdown">
                        <input
                        name='${keyword}blast${i}'
                        class='switch_checkbox' 
                        type="checkbox" 
                        id="${keyword}blast${i}_switch" 
                        checked="checked"/>
                        <label for="${keyword}blast${i}_switch" class="switchlabel"></label>
                    </div>

                    <div class="col col-lg-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="${keyword}_db1" class="col-sm-12 control-label">Database</label>

                                <select class="form-control" name="${keyword}_db${i}">
                                        <option value="CDD" selected="selected">CDD</option>
                                        <option value="Pfam">Pfam</option>
                                        <option value="COG">COG</option>
                                        <option value="KOG">KOG</option>
                                        <option value="SMART">SMART</option>
                                        <option value="PRK">PRK</option>
                                        <option value="TIGR">TIGR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col col-lg-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                    <label for="${keyword}_gap${i}" class="col-sm-12 control-label">
                                        </span><output for="${keyword}_gap${i}" id="${keyword}_gap${i}">Gap (30 aa)</output>
                                        </label>
                                    <input class="form-control" name="${keyword}_gap${i}"
                                    type="range"
                                    min="25"                    
                                    max="100"                 
                                    step="1"                   
                                    value="30"                 
                                    data-orientation="vertical" 
                                    oninput="outputUpdate('${keyword}_gap${i}', value, 'Gap (', ' aa)')"                                                            
                                >
                            </div>
                        </div>
                        
                    </div>      
                     
                    <div class="col col-lg-1">` + 
                        plusSign(i) + `
                    </div>
                    <div class="col col-lg-1">` +
                        minusSign(i) + `
                    </div>
                <div>
          
            </div>
            `
        return element
        }

        function hhsearchDiv(i) {

            keyword = "hhsearch"
            function plusSign (i) {
                let next = i + 1
                if (i<5) {
                    // $("${keyword}_plus_" + i).hide()
                    return `
                    <a class="btn btn-info plusminus" id=${keyword}_plus_${i} onclick="$( '#${keyword}_section' ).append(${keyword}Div(${next})); $('#${keyword}_plus_${i}').hide(); $('#${keyword}_minus_${i}').hide()">
                    <span class="glyphicon glyphicon-plus"></span> 
                        </a>
                    `
                }
                return `<a></a>`
            }

            function minusSign (i) {
                let previous = i - 1
                if (i>1) {
                    // $("${keyword}_plus_" + i).hide()
                    return `<a class="btn btn-info plusminus" id=${keyword}_minus_${i} onclick="$('#${keyword}${i}_div').remove(); $('#${keyword}_plus_${previous}').show(); $('#${keyword}_minus_${previous}').show()">
                    <span class="glyphicon glyphicon-minus"></span> 
                        
                        </a>`
                }
                return `<a></a>`
            }

            let element = `
            <div id="${keyword}${i}_div" class="form-group row">
                <hr>
                <div>
                    <div class="col col-lg-2 shiftdown">
                        <label class="tool">HHsearch</label>    
                    </div>

                    <div class="col col-lg-1 shiftdown">
                        <input
                        name='${keyword}${i}'
                        class='switch_checkbox' 
                        type="checkbox" 
                        id="${keyword}${i}_switch" 
                        checked="checked"/>
                        <label for="${keyword}${i}_switch" class="switchlabel"></label>
                    </div>

                    <div class="col col-lg-2">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="hhblits_db${i}" class="col-sm-12 control-label">HHblits DB</label>

                                <select class="form-control" name="hhblits_db${i}">
                                    <option value="uniclust20">uniclust20</option>
                                    <option value="uniclust30" selected="selected">uniclust30</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-2">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="${keyword}_db${i}" class="col-sm-12 control-label">HHsearch DB</label>

                                <select class="form-control" name="${keyword}_db${i}">
                                        <option value="pfam31.0" selected="selected">Pfam 31.0</option>
                                        <option value="pdb">PDB</option>
                                        <option value="scop">SCOP</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col col-lg-2">
                        <div class="form-group">
                            <div class="col-sm-12">
                                    <label for="${keyword}_gap${i}" class="col-sm-12 control-label">
                                        </span><output for="${keyword}_gap${i}" id="${keyword}_gap${i}">Gap (30 aa)</output>
                                        </label>
                                    <input class="form-control" name="${keyword}_gap${i}"
                                    type="range"
                                    min="25"                    
                                    max="100"                 
                                    step="1"                   
                                    value="30"                 
                                    data-orientation="vertical" 
                                    oninput="outputUpdate('${keyword}_gap${i}', value, 'Gap (', ' aa)')"                                                            
                                >
                            </div>
                        </div>
                    </div>
                    
                    <div class="col col-lg-2">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="prob${i}" class="col-sm-12 control-label">
                                        <output for="prob${i}" id="prob_value${i}">Probability (60%)</output>
                                </label>
                                <input class="form-control" name="prob${i}" id="prob${i}"
                                    type="range"
                                    min="10"                    
                                    max="100"                 
                                    step="1"                   
                                    value="60"                 
                                    data-orientation="vertical" 
                                    oninput="outputUpdate('prob_value${i}', value, 'Probability (', '%)')"
                                >
                            </div>
                        </div>
                    </div>
    

                    <div class="col col-lg-1">` + 
                        plusSign(i) + `
                    </div>
                    <div class="col col-lg-1">` +
                        minusSign(i) + `
                    </div>
                <div>
          
            </div>
            `
        return element
        }

        $( "#rps_section" ).append(rpsDiv(1))
        $( "#hhsearch_section" ).append(hhsearchDiv(1))


</script>
        
    </body>

</html>